.content
{
    overflow: hidden;

    padding-bottom: 326px !important;
}


.promo-slider
{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    background: #e2e1e1;
}

.events-block
{
    width: 100%;
    padding-top: 42px;
    padding-bottom: 40px;
    background: #fff9ed;
}

.events-block h1 {
    text-align: center;
}

.calendar-line
{
    padding-top: 32px;
    padding-bottom: 52px;

    background: #f6ead5;
}

.news-left-box
{
    width: 100%;
    padding-top: 42px;
}

.groups-right-box
{
    float: right;

    width: 465px;
    padding-top: 42px;
}

.news-left-box h1
{
    margin-bottom: 7px;
}

.events-box
{
    padding-top: 34px;

    background: #f8f8f8;
}

.uk-today-box
{
    font-family: 'Noto Serif', serif;
    font-size: 14px;

    color: #fff;
    background: #272727;
}

.uk-today-box .wrapper
{
    //padding: 0;
}

.ktc-today
{
    line-height: 18px;

    float: left;

    width: 420px;
    margin-right: 45px;
    padding-top: 29px;
    padding-bottom: 49px;

    white-space: normal;
}

.ktc-today h1
{
    font-size: 24px;

    color: #fff;
}

.ktc-photo
{
    //float: left;

    width: 700px;
    height: 463px;

    float: right;
    margin-right: -235px;
}

.virt-tour-box
{
    padding-top: 26px;

    background: #f0ebe1;
}

.virt-tour-box h1
{
    font-size: 24px;

    letter-spacing: 4px;
}

.partners-box
{
    padding-top: 26px;
    background: #fff;
}

.partners-box h1
{
    font-size: 24px;
    letter-spacing: 4px;
}
