.filter-form label {
    display: block;
    font-weight: normal;
    margin: 0;
    color: #7f7e7e;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 11px 0;
    text-transform: uppercase;
}