.afisha-detail {
	position: relative;
}

.afisha-detail h2 {
	font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 21px 0;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #272727;
}

.afisha-detail h3 {
	font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 21px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #272727;
}

.afisha-detail .preview-picture {
	float: left;
	width: 305px;
}

.afisha-detail .afisha-info {
	float: left;
    width: calc(100% - 325px);
    padding-left: 25px;
}

.afisha-detail .afisha-info .info-1 {
	width: 250px;
	margin-right: 40px;
	margin-bottom: 20px;
}

.afisha-detail .afisha-info .info-2 {
	width: 250px;
}


.afisha-detail .afisha-date {
	color: #272727;
	font-size: 13px;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	line-height: 20px;
}

.afisha-detail .afisha-date span {
	color: #7f7e7e;
}


.afisha-detail .tickets-info {
	padding-top: 15px;
	border-top: 1px solid #dfdddd;
	margin-top: 30px;
}

.afisha-detail .afisha-age {
	padding: 8px 0 0 0;
    border: 1px solid #c8c8c8;
    border-radius: 30px;
    width: 31px;
    text-align: center;
    height: 31px;
    color: #9d9d9d;
    font-size: 13px;
    font-family: 'Roboto Condensed', sans-serif;
    float: left;
}

.afisha-detail .tickets-info .buy-ticket {
	width: 127px;
    height: 31px;
    background: #daac4f;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    padding-top: 9px;
    margin-left: 20px;
    font-size: 13px;
    float: left;
}

.afisha-detail .tickets-info .buy-ticket:hover {
	background: #e35151;
    cursor: pointer;
}

.afisha-detail .detail-text {
	margin-top: 20px;
}

.afisha-detail .detail-text ul {	
    padding: 0 !important;
    margin-left: 20px !important;
    list-style: initial !important;
}

.afisha-detail .detail-text li {
    font-size: 16px !important;
    color: #272727 !important;
    line-height: 22px !important;
    padding-bottom: 6px !important;
    list-style-image: url(img/li.png) !important;
    padding-left: 7px !important;
}

@media (max-width: 757px) {
    .afisha-detail .preview-picture {
        width: 100%;
		height: 100%;
        float: initial;
    }

    .afisha-detail .afisha-info {
        width: 100%;
        float: initial;
        padding-left: 0;
        padding-top: 15px;
    }

    .afisha-detail .tickets-info {
        margin-top: 15px;
        padding-bottom: 30px;
    }

    .afisha-detail .tickets-info .buy-ticket {
        float: right;
    }
}